/* I really think this style sheet is too simple and trivial for me,
   or anyone, to claim copyright on it, but just in case, I hereby
   release this file under the CC0 (that means it's in the public
   domain) <http://www.gnu.org/licenses/license-list.html>. */

body {
  text-align: center;
}

canvas {
  border: 1px solid black;
  margin: 14px auto;
  display: block;
  background: white;
}

footer {
  margin: auto;
  margin-top: 6ex;
  font-size: smaller;
}
